body{
    background-image: url("https://storage.lacapitalmdp.com/2023/05/neo-pistea.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
   
}
div{
    display: contents ;
    text-align: center;
h3{
font-size: 300%;
}
img{
    height: 10%;
    width: 25%;
}
p{
    height:50%;
    width: 100%;
    font-size: 200%;
    color: white;
}
}
nav{
   
    
h2{
    color: black;
}
display: contents;
align-items: center;
text-align: center;
img{
    height: 10%;
    width: 20%;
}

button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
}
h1 {

    text-align: center;
}
nav2{
   
    h2{
        color:black;
    }
    display: contents;
    align-items: center;
    text-align: center;
        
    img{
        height: 10%;
        width: 20%;
    }
    
    
    }
    section{
        img{
            border: solid 5px white;
        }


    }


    nav3{

        display: contents;
        align-items: center;
        text-align: center;
        
       

        h2{
            color:rgb(112, 16, 64);
        }
        
        img{
            height: 10%;
            width: 20%;
        }

        a{

        color:blue
        }


      button{
      background-color: black;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
       
    }
   
    button{
        background-color: black;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }    

      a{

        align-items: center;
        text-align: center;
      }

    