body{
    background-image: url("fondo\ ameri.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
   
}
div{
    display: contents ;
    text-align: center;
h3{
font-size: 300%;
}
img{
    height: 10%;
    width: 25%;
}
p{
    height:50%;
    width: 100%;
    font-size: 200%;
    color: white;
}
}
nav{
   
    
h2{
    color: aqua;
}
display: contents;
align-items: center;
text-align: center;
img{
    height: 10%;
    width: 20%;
}
}
nav2{
   
    h2{
        color:black;
    }
    display: contents;
    align-items: center;
    text-align: center;
        
    img{
        height: 10%;
        width: 20%;
    }
    
    }
    section{
        img{
            border: solid 5px white;
        }
    }
    nav3{
   
        h2{
            color:rgb(112, 16, 64);
        }
        display: contents;
        align-items: center;
        text-align: center;
        img{
            height: 10%;
            width: 20%;
        }
            
    }
    nav4{
   
        h2{
            color:yellow;
        }
        display: contents;
        align-items: center;
        text-align: center;
        img{
            height: 10%;
            width: 20%;
        }
            
    }
    nav5{
   
        h2{
            color:brown;
        }
        display: contents;
        align-items: center;
        text-align: center;
        img{
            height: 10%;
            width: 20%;
        }
            
    }